:root {
	--primary: #fff;
	--secondary: #050840;
	--highlight-primary:#7ce7c9;
	--highlight-secondary: #9d7beb;
}

*,
*::before,
*::after {
	box-sizing:border-box;
}

html, body {
	position: relative;

}

body {
	background: var(--secondary);
	margin: 0;
	padding:1em 0 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

a {
	color:var(--highlight-secondary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--secondary);
	background-color:var(--highlight-secondary);
	outline: none;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

@media (min-width: 40em) {
	body {
		padding: 1em;
	}
}